.c-container{
  display: flex;
  font-weight: 300;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: calc(100% + 1.063rem); // hide vertical iframe scrollbars offscreen
}

.c-content{
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
}
