
.c-page {
  height: 100%;
  width: 100%;
  margin: 0.5em;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: hsla(316, 77%, 37%, 0);

  &:focus { // test focusing on section
    border-left-color: hsla(316, 77%, 37%, 1);
  }

  iframe {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: calc(100% - 1.5rem);
    width: 100%;
    border: none;

    &::before {
      position: relative;
      top: 0;
      left: 1em;

      &:focus { // test focusing on section
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: dodgerblue;
      }
    }
  }

  .c-release {
    margin:0 auto;
    padding: 0.313rem;
    height: 1.5rem;
    width: 100%;
    @include regular;
    font-size: 0.6rem;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
  }
}
